<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TicketClientApp.Properties.Settings>
            <setting name="TicketClientApp_TicketWebService_AD_AuthenticateWebService"
                serializeAs="String">
                <value>https://ticket.nkums.ac.ir/AD_AuthenticateWebService.asmx</value>
            </setting>
            <setting name="WindowsFormsApp1_TicketWebService_AD_AuthenticateWebService"
                serializeAs="String">
                <value>https://ticket.nkums.ac.ir/AD_AuthenticateWebService.asmx</value>
            </setting>
        </TicketClientApp.Properties.Settings>
    </applicationSettings>
</configuration>